<div class="body overflow-hidden bg-primary min-h-screen flex flex-col justify-between">
  <div>
    <div class="text-center mt-20">
      <img class="inline-block" src="assets/logo-no-text.png"/>
    </div>

    <div class="mt-6 text-center text-secondary text-xl font-medium">
      Welcome to
      <span class="text-neutral-300 font-light block mt-3 text-6xl tracking-wider">Woolite</span>
    </div>
  </div>

  <div class="mb-10 text-center">
    <w-button routerLink="/auth/sign-up" label="Create Wallet" expand="full"></w-button>
    <div class="text-white mt-3">
      Have a wallet? <span routerLink="/auth/sign-in" class="cursor-pointer font-medium ">Import</span>
    </div>
  </div>
</div>
